<%= form_for(@fillup, html: {role: 'form'}) do |f| %>
  <% if @fillup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fillup.errors.count, "error") %> prohibited this fillup from being saved:</h2>

      <ul>
      <% @fillup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag 'vehicle_id', @vehicle.id %>
  <div class="form-group">
    <%= f.label :odometer %><br>
    <%= f.number_field :odometer %>
  </div>
  <div class="form-group">
    <%= f.label :fill_date %><br>
    <%= f.date_field :fill_date %>
  </div>
  <div class="form-group">
    <%= f.label :gallons %><br>
    <%= f.text_field :gallons %>
  </div>
  <div class="actions">
    <%= f.button class: "btn btn-primary" %>
  </div>
<% end %>
