<p id="notice"><%= notice %></p>

<p>
  <strong>Odometer:</strong>
  <%= @fillup.odometer %>
</p>

<p>
  <strong>Fill date:</strong>
  <%= @fillup.fill_date %>
</p>

<p>
  <strong>Gallons:</strong>
  <%= @fillup.gallons %>
</p>

<%= link_to 'Edit', edit_vehicle_fillup_path(@vehicle.id, @fillup), class: "btn btn-primary active", role: "button" %>
<%= link_to 'Cancel', vehicle_fillups_path(@vehicle), class: "btn btn-link", role: "button" %>
